extends ../layouts/main

block content
    .ui.main.text.container
        h1.ui.header Semantic UI Fixed Template
        p This is a basic fixed menu template using fixed size containers.
        p
            img(src='https://travis-ci.org/Siarhei-Sudakou/geoip.svg?branch=master')