extends ../layouts/main

block content
    .ui.main.container
        h1.ui.header Map
        #map


block scripts
    script(src='/js/map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.GOOGLE_MAPS_API_KEY + '&callback=initMap')